$colorborder:rgb(51, 51, 51);

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px
);

.top
{
    border-bottom: 7px solid $colorborder;
    border-bottom-width: 100%;
}