.top
{
    border-bottom: 7px solid rgb(51, 51, 51);
    border-bottom-width: 100%;
    background-color: gray;
}
.Add
{
    float:right;
    margin-top: 0.75%;
    height: 35px;
    width: 100px;
    border: solid 2px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-size: 18px;
}
.Restart, .Color, .Contact
{
    float:right;
    margin-top: 0.75%;
    height: 40px;
    width: 70px;
    background: none;
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-size: 18px;
}
.home, .colors, .contact
{
    width: 50px;
    height: 40px;
    position : relative;
    bottom: auto ;
    transition: background-color 1s;
}
.home:hover,
.home:focus,
.colors:hover,
.colors:focus,
.contact:hover,
.contact:focus {
  background-color: #ff9900;
  cursor: pointer;
}
.ToSearch
{
    float:right;
    margin-top: 0.75%;
    margin-right: 1%;
    height: 35px;
    width: 100px;
    border: solid 2px rgb(111, 0, 255);
    background-color: rgb(111, 0, 255);
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-size: 18px;
}
.Search
{
    float:right;
    margin-top: 0.75%;
    width: 25%;
    transition: width 1s;
}
.Search:hover
{
    width: 50%;
}
.Add:hover,
.Add:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body
{
    background-color: white;
    background-size: cover;
}
.sorting, .sizing
{
    width: 6%;
}
.call
{
    text-align: center;
    font-weight: bold;    
}
.purpose, .type, .volume, .bar
{
    text-align: center;
}
.Edit
{
    margin-left: 5px;
    height: 35px;
    width: 100px;
    border: solid 2px rgb(0, 145, 170);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 145, 170);
    margin-bottom: 7%;
}
.Delete
{
    margin-right: 5px;
    height: 35px;
    width: 100px;
    border: solid 2px rgb(255, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    margin-bottom: 7%;
}
.element
{
    width: 250px;
    height: 350px;
    border: solid 2px rgb(168, 168, 168);
    background: #ccc;
    border-radius: 25px;
    float: left;
    margin-left: 3%;
    margin-top: 3%;
}
.err, .err_2, .err_3
{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}